html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


body {
    color: #383e45;
    font-size: 0.9rem;
}
header{
height:60px;
background-color:white;
width:100%;
}
.container{
width:1000px;
margin:0 auto;
}
.header-right a{  
text-decoration: none;
color: #24292E;
}
.header-left{
    padding:10px 0;
    float:left;
}
.header-right{
    float:right;
}
.header-right li{
    float:left;
    list-style: none;
    line-height: 60px;
    padding:0 15px;
}
.top-page{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
    padding-bottom:90px;
}
.section-title{
    text-align: center; 
}
.section-title h2{
    font-size:32px;
display: inline-block;
   border-bottom:solid 1px #383e45;
   padding-bottom:8px;
}
.profile{
    margin-top:60px;
    padding-left:250px;
}
.profile-icon{
    float:left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
.name{
    padding-top:30px;
    padding-bottom:10px;
    font-size: 16px;
}
.profile p{
    font-size:14px;
    letter-spacing: 1px;
    padding:3px 0;
}
.down-page{
    padding-top:140px;
    height:400px;
}
.small-photo{
width:270px;
height:176px;
}
.blog-list{
 padding-left:60px;
}
.page{
    float:left;
    width:33%;
    text-align: center;
    padding-top:30px;
}
.page h1{
    padding:20px 0;
    font-size:15px;
}
